<h1>Listing versus_informations</h1>

<table>
  <thead>
    <tr>
      <th>Versus at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @versus_informations.each do |versus_information| %>
      <tr>
        <td><%= versus_information.versus_at %></td>
        <td><%= link_to 'Show', versus_information %></td>
        <td><%= link_to 'Edit', edit_versus_information_path(versus_information) %></td>
        <td><%= link_to 'Destroy', versus_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Versus information', new_versus_information_path %>
