<%= form_for(@teams_versus_information) do |f| %>
  <% if @teams_versus_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teams_versus_information.errors.count, "error") %> prohibited this teams_versus_information from being saved:</h2>

      <ul>
      <% @teams_versus_information.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :versus_information_id %><br>
    <%= f.number_field :versus_information_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
