<h1>Listing steam_users</h1>

<table>
  <thead>
    <tr>
      <th>Steam id 64</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steam_users.each do |steam_user| %>
      <tr>
        <td><%= steam_user.steam_id_64 %></td>
        <td><%= link_to 'Show', steam_user %></td>
        <td><%= link_to 'Edit', edit_steam_user_path(steam_user) %></td>
        <td><%= link_to 'Destroy', steam_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Steam user', new_steam_user_path %>
