<%= form_for(@steam_user) do |f| %>
  <% if @steam_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@steam_user.errors.count, "error") %> prohibited this steam_user from being saved:</h2>

      <ul>
      <% @steam_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :steam_id_64 %><br>
    <%= f.text_field :steam_id_64 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
