<h1>Listing teams_versus_informations</h1>

<table>
  <thead>
    <tr>
      <th>Versus information</th>
      <th>Team</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams_versus_informations.each do |teams_versus_information| %>
      <tr>
        <td><%= teams_versus_information.versus_information_id %></td>
        <td><%= teams_versus_information.team_id %></td>
        <td><%= teams_versus_information.score %></td>
        <td><%= link_to 'Show', teams_versus_information %></td>
        <td><%= link_to 'Edit', edit_teams_versus_information_path(teams_versus_information) %></td>
        <td><%= link_to 'Destroy', teams_versus_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teams versus information', new_teams_versus_information_path %>
