<%= form_for(@steam_users_team) do |f| %>
  <% if @steam_users_team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@steam_users_team.errors.count, "error") %> prohibited this steam_users_team from being saved:</h2>

      <ul>
      <% @steam_users_team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :steam_user_id %><br>
    <%= f.number_field :steam_user_id %>
  </div>
  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.number_field :team_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
