<p id="notice"><%= notice %></p>

<p>
  <strong>Steam user:</strong>
  <%= @steam_users_team.steam_user_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @steam_users_team.team_id %>
</p>

<%= link_to 'Edit', edit_steam_users_team_path(@steam_users_team) %> |
<%= link_to 'Back', steam_users_teams_path %>
